---
import SocialPill from "./icons/SocialPill.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import FacebookIcon from "./icons/Facebook.astro";
import WhatsAppIcon from "./icons/WhatsApp.astro";
---

<div class="fixed right-4 top-1/2 -translate-y-1/2 z-50 flex flex-col space-y-3">
  <SocialPill href="https://linkedin.com/in/rmcam/" target="_blank" aria-label="LinkedIn" class="shadow-lg transition-transform duration-200 hover:scale-110">
    <LinkedInIcon class="size-8" />
  </SocialPill>
  <SocialPill href="https://facebook.com/rmcam" target="_blank" aria-label="Facebook" class="shadow-lg transition-transform duration-200 hover:scale-110">
    <FacebookIcon class="size-8" />
  </SocialPill>
  <SocialPill href="https://wa.me/+573001234567" target="_blank" aria-label="WhatsApp" class="shadow-lg transition-transform duration-200 hover:scale-110">
    <WhatsAppIcon class="size-8" />
  </SocialPill>
</div>
