---
// Importaciones de componentes de iconos y utilidades
import ViewCounter from "./ViewCounter.astro"; // Componente para el contador de visitas

// Obtiene el año actual para el copyright
const currentYear = new Date().getFullYear();
---

<!--
  Componente Footer (Pie de página): Contiene información de contacto,
  derechos de autor, enlaces legales y un contador de visitas.
-->
<footer class="bg-gray-100 text-gray-700 py-8 px-4">
  <div class="container mx-auto text-center">
    
    <!-- Sección de Contacto en el pie de página -->
    <div class="flex flex-col sm:flex-row sm:justify-center sm:items-center gap-2">
      <a href="/#sobre-mi" class="flex items-center hover:text-primary transition">
        <h3 class="text-1xl font-bold text-primary">Ingeniero Civíl Guillermo Quintero. </h3>
        </a>
    </div>

    <!-- Sección de Derechos de Autor y Enlaces Legales -->
    <div>
      <!-- Texto de copyright dinámico -->
     <div class="flex justify-center mb-2">
        <ViewCounter />
      </div>
      <p class="text-sm">
        <a href="#" class="hover:underline">Todos los derechos reservados.</a>
        
      </p>
      
      <!-- Enlaces a políticas y términos (placeholders) -->
      <div class="text-sm mt-2">
        <a href="#" class="hover:underline">Política de Privacidad</a>
        <span class="mx-2">|</span>
        <a href="#" class="hover:underline">Términos de Servicio</a> 
      </div>
      <!-- Contador de visitas -->
     
        <p class="text-sm">
        &copy; {currentYear} 
      </p>
    </div>
  </div>
</footer>
